@using CMBListini.Models;
@model vwUserListingIntro
@{
    ViewBag.Title = "Scelta Listino";
}

<style>
    .custom {
        width: 150px !important;
        height: 100px !important;
        margin: 5px;
        padding: 0;
        display: inline-block;
        line-height: 50px;
        text-align: center;
    }
    div.ContainerButton {
        text-align: left;
    }
</style>
<!-- Title -->
<div class="row mb-1">
    <div class="col-md-12">
        <h2 class="font-weight-light pageTitle">@ViewBag.Title</h2>
    </div>
</div>
<hr class="mt-1" />

<div class="ContainerButton">
    @{ string username = ViewBag.Username;

        using (CMBContext db = new CMBContext())
        {
            var ListInit = db.vwUserListingIntro.Where(u => u.UserID == username);
            foreach (vwUserListingIntro Listino in ListInit)
            {
                if (Listino.isActive == true)
                {
                    <a href="@Listino.LandingPage/Index" class="btn btn-lg btn-primary custom">@Listino.PriceListDesc</a>
                }
                else
                {
                    <a href="#" type="button" class="btn btn-lg btn-secondary custom" disabled>@Listino.PriceListDesc</a>
                }
            }
        }
    }

</div>


<script>



</script>

