@using CMBListini.ViewModels;
@model ViewModelL6020_2



    <h3>Totali</h3>
    
        <!-- Prezzo Lordo Cilindro-->
        <div class="row mb-6">
            <div class="col-md-9">
                <p>Prezzo Cilindro lordo</p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <p class="text-primary" id="RollerGrossTotal">-</p>
            </div>
        </div>
        <!-- Prezzo Lordo Accessori-->
        <div class="row mb-6">
            <div class="col-md-9">
                <p>Prezzo Opzionali lordo</p>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <p class="text-primary" id="AttachmentGrossTotal">-</p>
            </div>
        </div>

        <!-- Prezzo Lordo Totale -->
        <div class="row mb-6">
            <div class="col-md-9">
                <p>Prezzo lordo</p>
            </div>
            <div class="col-md-3  d-flex justify-content-end">
                <p class="text-primary" id="GrossTotal">-</p>
            </div>
        </div>

        <!-- Prezzo Trasduttore-->
        <div class="row mb-6">
            <div class="col-md-9">
                <p>Prezzo trasduttore</p>
            </div>
            <div class="col-md-3  d-flex justify-content-end">
                <p class="text-primary" id="TransducerTotal">-</p>
            </div>
        </div>

        <!-- Totale finale-->
        <div class="row mb-12">
            <div class="col-md-10">
                <p><b>Prezzo Totale</b></p>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                <p class="text-primary" id="FinalTotal">-</p>
            </div>
        </div>

    

