@using CMBListini.ViewModels;
@model ViewModelL6022_1



<h3>Totali</h3>

<!-- Prezzo Lordo Cilindro-->
<div class="row mb-6">
    <div class="col-md-8">
        <p>Prezzo Cilindro netto</p>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <p class="text-primary" id="RollerGrossTotal">-</p>
    </div>
</div>
<!-- Prezzo Lordo Accessori-->
<div class="row mb-6">
    <div class="col-md-8">
        <p>Prezzo Opzionali netto</p>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <p class="text-primary" id="AttachmentGrossTotal">-</p>
    </div>
</div>

<!-- Prezzo Trasduttore-->
<div class="row mb-6">
    <div class="col-md-8">
        <p>Prezzo Trasduttore</p>
    </div>
    <div class="col-md-4  d-flex justify-content-end">
        <p class="text-primary" id="TransducerTotal">-</p>
    </div>
</div>

<!-- Totale finale-->
<div class="row mb-6">
    <div class="col-md-8">
        <p><b>Prezzo Complessivo netto</b></p>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <p class="text-primary" id="FinalTotal">-</p>
    </div>
</div>


<!-- Prezzo Kit Guarnizioni ricambio -->
<div class="row mb-6">
    <div class="col-md-8">
        <p>Prezzo kit Guarnizioni Ricambio</p>
    </div>
    <div class="col-md-4  d-flex justify-content-end">
        <p class="text-primary" id="GrossTotal">-</p>
    </div>
</div>



